* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: green; */
    width: 100%;
}

.farewellimage {
    width: 80%;
   
    margin: auto;
    border-radius: 10px;
    padding-top: 10px;
    width: 100%;
    max-width: 500px;
    display: block;
    margin: auto;

}

.markquee {
    font-size: 20px;
    color: rgb(16, 0, 0);
}

.share1 {
    padding: 10px;
    background-color: greenyellow;
    height: max-content;
    position: fixed;
    bottom: 0;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.maindiv {
    /* background-color: red; */
    width: 500px;
    height: min-content;
    margin: auto;
}

.whatsappbtm {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

@media (max-width: 768px){
    .maindiv{
        width: 100%;
    }
    .share1{
        width: 100%;
    }
}